---
layout: default
---

<div class="home">

  <div class="post-list">
    {% for post in paginator.posts %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-details">
          <h2>{{ post.title }}</h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
      </a>
    {% endfor %}
  </div>

  <!-- Pagination links -->
  <div class="page-navigation">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
    {% else %}
      <span class="prev">Previous</span>
    {% endif %}
    <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next">Next</span>
    {% endif %}
  </div>

</div>
