$maincolor: #5AC2CE;

html {
  body {
    .wrapper {
      margin: 0 auto;
      text-align: center;
      max-width: 1000px;
      padding: 0 20px;
    }
    .site-header {
      border-top: 4px solid darken($maincolor, 20%);
      border-bottom: none;
      min-height: 20px;
      a:hover {
        text-decoration: none;
        color: $maincolor;
      }
      .site-title {
        color: #777;
        font-size: 26px;
        font-weight: 600;
        &:visited {
          color: #777;
        }
        &:hover {
          color: $maincolor;
        }
      }
      .site-nav {
        .page-link {
          font-size: 13px;
          text-transform: uppercase;
          color: $maincolor;
          &:visited {
            color: $maincolor;
          }
          &:hover {
            color: darken($maincolor, 20%);
          }
        }
      }
      a.icon-link {
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 3px;
        margin-right: 3px;
        color: $maincolor;
        font-size: 22px;
        &:hover {
          color: darken($maincolor, 20%);
        }
      }
    }
    .page-content {
      .post {
        .post-header {
          //margin-bottom: 20px;
        }
      }
    }
    .post {
      text-align: left;
      padding: 40px 0;
      .post-header {
        margin-bottom: 0px;
        h1 {
          margin: 0;
          display: inline-block;
          font-size: 14px;
          font-weight: bolder;
          text-transform: uppercase;
        }
        p.post-meta {
          display: inline-block;
          font-size: 12px;
          text-transform: uppercase;
          color: #999;
        }
      }
      .post-content {
        dl,
        dl.exif {
          font-size: 12px;
          color: #999;
          dt {
            display: inline-block;
          }
          dd {
            display: inline-block;
            padding-right: 15px;
            font-weight: bold;
            color: #444;
          }
        }
      }
      .page-navigation {
        margin-top: 40px;
        position: relative;
        font-size: 11px;
        .prev, .next {
          padding: 3px 6px;
          text-transform: uppercase;
          background: #eee;
          color: #333;
          border-radius: 3px;
          &:hover {
            color: #eee;
            background: #333;
            text-decoration: none;
          }
        }
        .prev {
          float: left;
        }
        .next {
          float: right;
        }
      }
    }
    .post-list {
      margin: 20px auto;
      a.post-link {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        .post-details {
          position: absolute;
          bottom: 15px;
          left: 15px;
          text-align: left;
          h2 {
            display: inline-block;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: bolder;
            color: #fff;
            text-transform: uppercase;
          }
          span {
            font-size: 12px;
            text-transform: uppercase;
            color: rgba(256,256,256,.5);
          }
        }
        img {
          width: 100%;
          height: auto;
          border: 1px solid #ccc;
        }
      }
    }
    .page-navigation {
      margin-top: 40px;
      position: relative;
      font-size: 11px;
      height: 50px;
      .page-number {
        display: inline-block;
        padding-top: 3px;
        font-size: 12px;
      }
      a.prev, a.next {
        background: #eee;
        color: #333;
        &:hover {
          color: #eee;
          background: #333;
          text-decoration: none;
        }
      }
      .prev, .next {
        padding: 3px 6px;
        text-transform: uppercase;
        background: #eee;
        color: #ccc;
        border-radius: 3px;
      }
      .prev {
        float: left;
      }
      .next {
        float: right;
      }
    }
    p.rss-subscribe {
      clear: both;
      text-align: center;
      font-size: 12px;
    }
    footer.site-footer {
      p {
        text-align: center;
        font-size: 11px;
        color: #999;
      }
    }
    .page-title {
      padding-bottom: 20px;
    }
  }

  img.avatar {
    display: block;
    margin: 40px auto 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
