
mixin author(authorName)
  - var author = contents.authors[authorName + '.json'];
  span.author
    if author
      a(href='http://' + author.metadata.site)= author.metadata.name
    else
      = authorName
